:root {
  --md-header-height: 1.5rem;
  --md-header-logo-height: 1rem;
}

.md-header__button.md-logo {
    margin: 0;
    padding: 0 .7rem;
  }
  
  .md-header__button.md-logo img,
  .md-header__button.md-logo svg {
    height: 1rem; 
    width: auto;
  }
  
  /* .md-header__title {
    color: transparent;
  } */